<!DOCTYPE html>

<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Baseapp" %>
    </.live_title>
    <!-- Links -->
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator.min.css" rel="stylesheet" >

    <!-- Scripts -->
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.3.1/dist/js/tabulator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.phoenix.min.js"></script>




  </head>

  <body class="bg-gray-200 antialiased">
    <%= @inner_content %>
  </body>
</html>
